.navitems {
    a {
        font-size: 16px;
        text-transform: capitalize;
        line-height: 32px;
        padding: 6px 16px;
        color: #000000;
        cursor: pointer;

        &:hover {
            background-color: #2bb359;
            color: #ffffff;
            transition: all 0.25s;
            border-radius: 3px;
        }

        &:last-child {
            background-color: #2bb359;
            color: #ffffff;
            transition: all 0.25s;
            border-radius: 3px;

            &:hover {
                opacity: .7;
            }
        }
        &.active {
            color: #2bb359;
        }
    }
}

@keyframes textGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-text {
    background-size: 200% 200%;
    animation: textGradient 5s ease infinite;
}

// #header {
//     position: absolute;
//     width: 100%;
//     z-index: 99999;
// }
#header {
    position: sticky;
    top: 0;
    z-index: 999;
}