<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<div class="fixed bottom-4 right-4 z-50 flex items-center justify-center w-20 h-20">
  <div class="relative w-16 h-16">
    <!-- Ripple layer 1 -->
    <span class="absolute inline-flex h-full w-full rounded-full bg-green-800 opacity-25 animate-[ping_2s_linear_infinite]"></span>
    <!-- Ripple layer 2 -->
    <span class="absolute inline-flex h-full w-full rounded-full bg-green-800 opacity-20 animate-[ping_3s_linear_infinite]"></span>
    <!-- Ripple layer 3 -->
    <span class="absolute inline-flex h-full w-full rounded-full bg-green-800 opacity-15 animate-[ping_4s_linear_infinite]"></span>

    <!-- WhatsApp Button -->
    <a href="https://wa.me/919600141080?text=Hello%20I%20am%20interested%20in%20your%20property%20services"
       target="_blank"
       class="relative bg-white w-16 h-16 rounded-full flex items-center justify-center shadow-lg hover:bg-green-600 transition">
      <img src="../../images/whatsapp.svg" class="w-12 h-12 rounded-full" alt="WhatsApp">
    </a>
  </div>
</div>


<div class="fixed bottom-[120px] right-4 z-50 flex items-center justify-center w-20 h-20">
  <div class="relative w-16 h-16">
    <!-- Ripple layer 1 -->
    <span class="absolute inline-flex h-full w-full rounded-full bg-pink-800 opacity-25 animate-[ping_2s_linear_infinite]"></span>
    <!-- Ripple layer 2 -->
    <span class="absolute inline-flex h-full w-full rounded-full bg-pink-800 opacity-20 animate-[ping_3s_linear_infinite]"></span>
    <!-- Ripple layer 3 -->
    <span class="absolute inline-flex h-full w-full rounded-full bg-pink-800 opacity-15 animate-[ping_4s_linear_infinite]"></span>

    <!-- WhatsApp Button -->
    <a href="https://www.instagram.com/trusty_plots?igsh=aDhzbmV0cTJxMnZu"
       target="_blank"
       class="relative bg-white w-16 h-16 rounded-full flex items-center justify-center shadow-lg hover:bg-white transition">
      <img src="../../images/instagram.svg" class="w-12 h-12 rounded-full" alt="WhatsApp">
    </a>
  </div>
</div>