<!-- ========================================= -->
<!--             Main Hero Sec                 -->
<!-- ========================================= -->
<section class="relative bg-fixed bg-center bg-cover py-20 px-6"
    style="background-image: url('../../../../images/main-bg.jpg');">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-gradient-to-b from-black/80 to-black/60"></div>

    <div class="relative max-w-5xl mx-auto text-center text-white">
        <h1 class="section-title">About Us</h1>
        <p class="text-md leading-relaxed max-w-3xl mx-auto">
            At <span class="text-green-500">TrustyPlots</span>, we believe that
            buying and selling property should be simple, transparent, and stress-free.
            With years of experience in real estate, we connect investors, homeowners,
            and businesses with trusted opportunities across prime locations.
        </p>
    </div>
</section>

<!-- ========================================= -->
<!--         Mission and Vision.               -->
<!-- ========================================= -->
<section class="py-16 px-6 bg-gray-50 text-gray-800">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12">
        <div *ngFor="let section of missionVision">
            <h2 class="text-2xl font-bold mb-4">{{ section.title }}</h2>
            <p class="mb-4">{{ section.description }}</p>
            <ul class="space-y-2">
                <li *ngFor="let feature of section.features">✔️ {{ feature }}</li>
            </ul>
        </div>
    </div>
</section>


<!-- ========================================= -->
<!--              Why Choose Us                -->
<!-- ========================================= -->

<section class="bg-white  why-choose-us">
    <div class="container mx-auto px-4 text-center">

        <h2 class="section-title"><span>Why</span> Choose Us</h2>
        <p class="text-gray-600 mb-10 mt-4 max-w-2xl mx-auto">
            We are your trusted property partner, helping you find the right investments and dream homes with
            confidence.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 cards-row">
            <div class="cards" *ngFor="let card of wcuCards">
                <img [src]="card.img" [alt]="card.title">
                <h3 class="text-xl font-semibold text-gray-800 mb-2">{{ card.title }}</h3>
                <p class="text-gray-600">{{ card.description }}</p>
            </div>
        </div>
    </div>
</section>


<!-- ========================================= -->
<!--         Call To Action Section            -->
<!-- ========================================= -->
<section class="relative text-center text-white call-to-action py-20 px-6">
    <div class="relative max-w-3xl mx-auto">
        <h2 class="text-2xl md:text-3xl font-bold mb-6">
            Ready to Make Your Property Move?
        </h2>
        <p class="text-md mb-8">
            Whether you’re buying, selling, or investing, TrustyPlots is your trusted partner for hassle-free property
            transactions.
        </p>
        <div class="flex flex-col sm:flex-row justify-center gap-4">
            <a routerLink="/contact-us"
                class="bg-green-500 hover:bg-green-600 text-white px-6 py-3 rounded-md font-semibold transition-colors duration-300 primary-button ">
                Contact Us
            </a>
        </div>
    </div>
</section>